<h2 id="title">Ember cli un calendar</h2>

{{un-calendar
  todayLabel="<div>Today</div>"
  prevLabel="<div>Previous</div>"
  nextLabel="<div>Next</div>"
  month = month
  showNextMonth=showNextMonth
  showPrevMonth=showPrevMonth
  select="dateSelected"
  maxFutureDate= maxFutureDelivery
  selectedDates=selectedDates
  disabledDates=disabledDates
}}
